.back_black,.hover_black:hover{
	color:#fff;
	background-color:#1f1f1f;
	font-family: "Montserrat", 
	sans-serif,-moz-transition:
}

body {
	margin:0;
}

p {
	text-align:justify;
}

@media (min-width:993px) {
	.modal-content{width:900px}
	.hide-large{display:none}
	.sidebar.collapse{display:block}
	.main {margin-top:2em;}
	
}

@media (max-width:600px){
	.hide-small{display:none}
	.image-overlay-center {
		position: absolute;
	    top: 48%!important;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width:20em!important;
	}
	.title {
		font-size: 1em!important;
		font-weight:1000!important;

	}
	.title>h1 {
		font-size:2em!important;
		font-weight:1000!important;
	}
	.client-pic>img {
		width:8em!important;
	}
	.content {
		padding:1em!important;
	}
	.intro-head {
		margin-left:-1em!important;
		margin-right:-1em!important;
	}
	.logo {
		display: block;
		height:5.7em!important;
		width:100%;
	}
}

.title {
	text-align: center;
	font-size: 2em;
}

.title>h1 {
	font-size:1.8em;
	font-weight:1000;
}

a {
	color:#A3D1F1;
	font-weight:800;
}

.navbar {
	padding: 0;
	background-color: #eeeeee!important;
}

.nav-word {
	font-size: .85em;
	color: #222222;
}

.nav-item:hover {
	background-color:#777777;
	margin-bottom:0;
}

.img-icon {
	height:1em;
	width:auto;
	display:block;
}

.intro-image-container {
	margin:0;
	padding:0;
}

.tkds-background {
    background-image: url("../images/boston-port-bw.jpeg");
    height: 43em; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-overlay-center {
	position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:40em;
}

.logo {
	display: block;
	height:7em;
	width:100%;
}

.content {
	/*margin-top:1em; margin-bottom: 1em;*/
	padding:5em;
	padding-right:28em;
	padding-left:28em;
	background-color:#222222;
}

.content-alt {
	background-color:#333333!important;
}

.content-alt-b {
	background-color: #444444;

}

.about {
	padding:2em;
}

.client-pic>img {
	width:20em;
	height:auto;
	display:block;
}
.intro-head {
	text-align: center;
	margin:0;
	margin-bottom:2em;
	margin-left:-6em;
	margin-right:-6em;
}

.intro-head>h6 {
	font-size:2em;
}

.sec>h5 {
	font-size:1.9em;
}

.education {
	padding: 2em;
}

.education>h5 {
	font-size:2em;
}

.projects {
	padding:2em;
}

.projects>h5 {
	font-size:2em;
}

.contacts {
	padding:2em;
}